<%= render 'productions/side_nav' %>
<div class="small-6 large-4 colummn center row">
  <h2><%= t(:new, scope:'actioncontroller.mine') %></h2>

  <%= render 'form' %>

  <%= link_to t(:back), mines_path %>
</div>

