<%= render 'side_nav' %>
<div class="row">
  <h1><%= t(:production) %></h1>
  <p>Bacon ipsum dolor sit amet turducken tri-tip corned beef pastrami pork chop shoulder ham kielbasa short ribs andouille sirloin salami pork flank boudin. Turkey beef ribs pork chop pancetta bacon doner. Pork chop frankfurter cow tri-tip chicken capicola, ham hock pig chuck sirloin ribeye leberkas tongue kevin ball tip. Venison pancetta pork belly, boudin tail meatloaf beef strip steak pork beef ribs ground round chuck tenderloin. Tail beef ribs chuck brisket spare ribs, leberkas turkey t-bone tenderloin pancetta sausage.</p>
</div>

