
<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">    
    <li><%= content_tag :label, t(:welcome) %></li>        
    <% if user_signed_in? %>
      <%= content_tag :li, t(:something) %>
    <% else %>
      <li>
        <%= link_to(t(:login, scope:'session'), new_user_session_path) %>
      </li>      
    <% end %>
  </ul>      
</aside>