<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label><%= t(:settings) %></label></li>        
    <li><%= link_to t(:edit, scope:'actioncontroller.setting'), admin_settings_edit_path %></li>
  </ul>      
</aside>
